# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

#checkov
.external_modules

#ansible
*.cfg
04/demonstration2.md
04/hw-04.md
04/demonstration1/*
04/demonstration3/*
#04/src/modules/cluster-mysql
